* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	--color-text: #333;
	--color-background: #eee;
	color: var(--color-text);
	background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	body {
		--color-text: #eee;
		--color-background: #333;
	}
}

ul {
    margin: 0;
    padding: 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
form label {
	display: block;
}
form input {
	font-size: 1rem;
}
.alert {
	display: block;
	padding: 1rem;
	background-color: firebrick;
	color: #eee;
}
.container {
	max-width: 75rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}
.material-icons {
    pointer-events: none;
}
.habit-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}